<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Jungle.com</h1>
    <h3>
      Congratulations <%=@user.email %>, your order has been successfully placed
    </h3>

    <h4>Order reference no: <%= @order.id %></h4>


    <div class="panel panel-default items">
  
    <% @order.line_items.each do |item| %>
      <%= render 'item', product: item.product, quantity: item.quantity, item_total: item.total_price %>
    <% end %>

</div>


    <p>
    Thank you for shopping with us!
  </p>
    <br/>
    <p>
      To continue shopping please click <a href='http://localhost:3000'> here</a>
    </p>
    
  </body>
</html>