
<table id="reviews">

<tr>
  <td class="user"><%= review.user.first_name %></td>
  <td class="comment"><%= review.description %></td>
  <td class="rating"> <%= review.rating %> </td>
</tr>
</table>

